doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title Twilio Frame Demo
  body
    div#chatContainer
    script(type='text/javascript', src = '//media.twiliocdn.com/sdk/js/frame/releases/0.1.1/twilio-frame.bundle.min.js')
    script(type='text/javascript', src = '//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js')
    script(type='text/javascript', src = '//media.twiliocdn.com/sdk/js/chat/v1.1/twilio-chat.min.js')
    script(type='text/javascript', src='/javascripts/bundle.js')
