doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title Twilio Frame Demo
  body
    div#chatContainer(style='height: 700px')
    script(type='text/javascript', src='/javascripts/bundle.js')
